@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.spinner-container{
    width: 100%;
    /* max-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-spinner{
    width:  25px;
    height: 25px;
    border: 6px solid rgba(69, 61, 34, 0.237);
    border-top: 6px solid #1a1a1d;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}