.admin{
    overflow: auto;
}
.select-category{
    height: 2.8rem;
    width: 25rem;
    padding:0 10px;
    font-size: 16px;
}
.select-category option{
    text-transform: capitalize;
}

.prod-count{
    padding-right: 8rem;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
}
.filter-cat-btn{
    font-weight: normal;
    background-color: #000;
    color: #feffff;
    padding: 6px;
    box-shadow: 0 0 5px #00000084;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s linear;
    letter-spacing: .2px;
    width: 9rem;
}
.filter-cat-btn:hover{
    background-color: #feffff;
    color: #000;
}

@media screen and (max-width:430px) {
    .select-category{
        width: 19rem;
    }
    .prod-count{
        margin-left: 5px;
    }
}

